.o-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.u-text-center {
  text-align: center;
}

.c-product-comparison__grid {
  display: flex;
  grid-template-columns: 1fr;
  grid-gap: 2vw;
  margin-top: 400px;
  justify-content: space-between;
}

.c-product-comparison__product {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  padding: 15px 10px;
  margin: 0 20px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 0 10px 20px rgba(3, 27, 78, 0.1);
  transition: all 820ms cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.c-product-comparison__title {
  position: relative;
  color: teal;
  font-size: rem(38px);
  letter-spacing: 0.25px;
  font-weight: 400;
}

.c-product-comparison__fiber {
  display: block;
  font-size: 15;
  margin-bottom: 10px;
}

.c-product-comparison__speed {
  position: relative;
  font-weight: 600;
}

.c-product-comparison__plus {
  margin-left: 2px;
}

.c-product-comparison__mbit {
  display: block;
  font-weight: 400;
  margin-top: 30px;
  font-size: 10;
}

.c-product-comparison__subtitle {
  font-size: rem(22px);
  font-weight: 600;
  color: grey;
}

.c-product-comparison__notice {
  max-width: 300px;
}

.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 18px;
  margin: 10px;
  border: 1px solid teal;
  background-color: teal;
  color: #fff;
}
